.slick-prev::before, .slick-next::before{
    font-size: 25px;
} 

.slick-dots li button::before {
    font-size: 10px;
    color: #bdbcbc !important; 
}
  
.slick-dots li.slick-active button::before {
    color: #ffffff !important; 
}