.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    height: 100%;
    width: 100%;
    place-items: center;
    overflow: hidden;
}

.drop-box {
    width:40%;
    height: 0%;
}

.body-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    max-height: 90%; 
    overflow-y: auto;
    padding: .5% 1%;
    gap: 3.5%;
    border-radius: 10px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(60, 60, 60);
    border-radius: 10px;
    padding: 2% 3%;
    min-width: 90%; 
    min-height: 5%;
    font-size: larger;
}

.body-div::-webkit-scrollbar {
    width: 8px;
}
.body-div::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}
.body-div::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 10px;
}
.body-div::-webkit-scrollbar-thumb:hover {
    background: #0097fb;
}