  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #7895d4 0%, #d8a5bf 100%);
  }
  
  .chat {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  .dis {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1%;
    background-color: #525353;
    background: transparent;
    border-bottom: #333;
    gap: 2%;
    scroll-behavior: smooth;
  }

  .dis::-webkit-scrollbar {
    width: 5px;
  }

  .dis::-webkit-scrollbar-track {
    background: #6d6c6c;
    border-radius: 10px;
  }

  .dis::-webkit-scrollbar-thumb {
    background: #7895d4;
    border-radius: 10px;
  }

  .dis::-webkit-scrollbar-thumb:hover {
    background: #7baddf;
  }
  
  .msg {
    display: flex;
    background-color: rgba(61, 59, 59, 0.9); 
    position: absolute;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: .5% 1%;
    border: solid 3px white;
  }

  .loading, .not-loading{
    left: 50%;
    transform: translateX(-50%);
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 5%;
    padding: 1%;
    width: 15%;
    left: 50%;
    transform: translateX(-50%);
    transition: 2s ease-in-out;
  }

  .not-loading{
    display: none;
  }

  .dot{
    height: .75rem;
    width: .75rem;
    border-radius: 15px;
    background-color: #E30B5C;
    animation: loading 1.5s infinite ease-in-out;
  }

  .dot:nth-child(1){
    animation-delay: -0.3s;
  }

  .dot:nth-child(3){
    animation-delay: 0.1s;
  }

  @keyframes loading{
    0%{
      transform: scale(1);
    }
    
    50%{
      transform: scale(0);
    }

    100%{
      transform: scale(1);
    }
  }
  
  .input, .text-container {
    border-radius: 12px;
    padding: .5% 1.5%;
    font-size: 90%;
  }

  .input{
    color: black;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
  }

  .text-container{
    display: flex;
    align-items: center;
    color: white;
  }

  .input:focus{
    outline: none;
  }
  
  .i {
    cursor: pointer;
    fill: #ffffff; 
    background: transparent;
  }

  .rec{
    border-radius: 15px;
    border: 2px solid white;
    height: 35%;
    width: 5%;
    padding: 1% 1%;
    transition: .5s;
  }

  .user, .bot{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tt {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    text-overflow: ellipsis;
    padding: 1%;
  }
  
  .tt li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tt p {
    margin: 0;
    border-radius: 16px;
    font-size: 1.075em;
    line-height: 25px;
  }
  .tt img{
    height: 50%;
    width: 100%;
  }

  .user-msg{
    display: flex;
    gap: .5%;
  }

  .user-icon{
    padding: .5%;
    margin: 2px;
  }

  .user-msg-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1%;
  }

  .user-msg-div label{
    justify-content: flex-start;
    font-size: large;
  }

  .bot-icon img{
    height: 100%;
    width: 100%;
  }

  .mic-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .suggestion-div{
    display: flex;
    width: 90%;
    padding: 1.5%;
    position: absolute;
    top: 76%;
  }

  .suggestion{
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    height: 2em;
    width: 100%;
    max-width: 100%;
  }

  .sug-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: 2px solid #1877F2;
    border-radius: 15px;
    color: #1877F2;
    cursor: pointer;
  }

  .sug-div:hover{
    background-color: #f0f8ff9f;
    transition: .5s;
  }
  .img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    width: 75%;
    border-radius: 10px;
    background-color: #333;
    color: white;
  }

  .img-container img{
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .carousel{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4f4f4fda;
    height: 72%;
    width: 50%;
    border-radius: 20px;
    transition: 3s ease-in-out;
  }

  .caro-label{
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    width: 97%;
    /* background-color: #6c6c6c; */
  }
  .caro-label label{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 3%;
  }
  .caro-label label:hover{
    background-color: #a5a4a4;
  }
  
  .slider-div{
    height: 90%;
    width: 90%;
  }
  .img_div{
    background-color: #525353;
    height: 30rem;
  }

  .img_div img{
    height: 100%;
    width: 100%;
  }

  /* For mobile devices */
@media only screen and (max-width: 767px) {
  .main{
    padding: 1%;
    position: fixed;
  }

  .chat{
    height: 93%;
    width: 92%;
    padding: 2%;
  }

  .dis{
    height: 87%;
  }

  .msg{
    height:8vh;
    width: 95%;
    bottom: 1.5%;
  }
  .input, .text-container {
    height: 55%;
    font-size: 85%;
  }
  .input{
    width: 65%;
  }
  .text-container{
    width: 50%;
    height: 80%;
    background-color: rgba(150, 150, 150, 0.2);
  }
  .i{
    height: 60%;
  }
  .rec{
    height: 40%;
    width: 10%;
  }
  .mic-container{
    justify-content: space-evenly;
    height: 55%;
    width: 30%;
  }
  .user, .bot{
    max-width: 90%;
    padding: 2.5%;
    margin: 1px;
    margin-bottom: 3px;
  }

  .user{
    white-space: nowrap;
    padding: 3%;
  }
  .bot-icon{
    height: 2.2rem;
    width: 12%;
    margin: 2px;
  }
  .user-msg-div{
    gap: 0px;
  }

  .tt p{
    font-size: medium;
  }
  .loading{
    top: 85%;
  }
}

/* For tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .chat{
    height: 60vh;
    width:75%;
  }
  .dis{
    height: 85%;
  }

  .msg{
    height:5vh;
    width: 90%;
    bottom: 3.5%;
  }
  .input{
    width: 65%;
    height: 60%;
  }
  .bot{
    max-width: 90%;
    padding: 3%;
    margin: 1px;
    margin-bottom: 3px;
  }
  .user{
    padding: 3%;
    margin: 1px;
    margin-bottom: 3px;
  }
  .bot-icon{
    height: 2.2rem;
    width: 5%;
    margin: 2px;
  }
}

/* For larger desktops and laptops */
@media only screen and (min-width: 992px) {
  .chat{
    height: 80vh;
    width: 50%;
    padding: 1% 1%;
  }

  .dis{
    height: 82%;
  }

  .msg{
    height:8vh;
    width: 90%;
    bottom: 3%;
  }

  .input, .text-container {
    height: 55%;
    font-size: 90%;
  }
  .input{
    width: 75%;
  }
  .text-container{
    width: 60%;
  }

  .rec{
    height: 35%;
    width: 5%;
  }

  .rec:hover{
    background-color: #6c6c6c;
    transition: .5s;
  }
  .mic-container{
    height: 55%;
    width: 20%;
  }
  .user, .bot{
    max-width: 95%;
  }
  .user{
    white-space: nowrap;
  }

  .bot-icon{
    height: 2.2rem;
    width: 5%;
    margin: 2px;
  }

  .user-msg-div{
    gap: 5px;
  }
  .loading{
    top: 80%;
  }
}